.sidebar {
  width: 30rem;
  height: 1550px;
  border-right: 1px solid #d9d9d9;

  @include responsive("T") {
    width: 168px;
  }

  @include responsive("M") {
    width: 67px;
  }

  .logo {
    position: relative;
    width: 108px;
    height: 33px;
    margin: 20px 0 0 24px;
  }

  .dash-boards {
    margin-top: 40px;

    .header {
      @include flexbox(between, center);
      margin: 0 24px;

      .title {
        color: #787486;
        font-size: 12px;
        font-weight: 700;

        @include responsive("M") {
          display: none;
        }
      }
      .create-btn {
        position: relative;
        width: 20px;
        height: 20px;
      }
    }

    .contents {
      margin: 18px 12px 0 12px;

      .board-list {
        padding: 12px;
        width: 100%;
        height: 45px;
        border-radius: 4px;
        background: #f1effd;
        cursor: pointer;

        @include responsive("T") {
          width: 134px;
        }

        @include responsive("M") {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
