.container {
  width: 100vw;
  background-color: $black;
  color-scheme: black;

  @include responsive("T") {
    padding: 0 4rem;
  }

  @include responsive("M") {
    padding: 0 1.6rem;
  }
}
