.container {
  @include column-flexbox();
}

.img-container {
  position: relative;
  margin-top: 9.4rem;
  width: 72.2rem;
  height: 42.3rem;
}

.bottom-content-container {
  @include column-flexbox();
  gap: 6.6rem;
}

.text-container {
  @include column-flexbox();
  gap: 2.4rem;

  & p {
    @include text-style(1.8, 400, $white);
  }
}

.text-h2-container {
  @include flexbox();
  margin-top: 6.6rem;

  & h2:nth-child(1) {
    @include text-style(9, 700, $white);
  }

  & h2:nth-child(2) {
    @include text-style(9, 700, $violet);
  }
}
