.container {
  @include flexbox(between);
  position: fixed;
  background-color: $black;
  width: 100%;
  padding: 1.6rem;
  margin: 0 auto;
  max-width: 1920px;
  z-index: 99;
}

.right-content {
  @include flexbox();
  @include text-style(1.6, 400, $white);
  gap: 3.6rem;
  padding: 0 6.4rem;
}
